
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
html, body{
    height: 100%;
}

/* General Styles */
.title{
    font-weight: 900;
    font-size: 56px;
}

.title-section{
    font-weight: 900;
    font-size: 48px;
    line-height: 62px;
}
.p-item1{
    color: #676D7D;
    font-size: 20px;
    line-height: 36px;
}

.p-item2{
    color: #8E95A9;
    font-size: 12px;
    line-height: 20px;
}

.p-section{
    padding-top: 1rem;
    color: #676D7D;
    font-size: 18px;
}

.p-item{
    padding:1rem;
    color: #676D7D;
    font-size: 16px;
    line-height: 28px;
}

.p-tip{
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #7E8393;
}

.header{
    background: url(img/nav-bg.png) no-repeat;
    height: 100vh;
}



.m-5rem{
    margin-top: 5rem;
}


.t-card{
    padding-top: 2rem;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.p-card{
    padding-top: 0.5rem;
    font-size: 14px;
    line-height: 24px;
    color: #676D7D;
}

.circle-icon {
    margin-top: 3rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 42px;
}

.card1{
    background: #FFFFFF;
    box-shadow: 0px 22px 36px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}


.t-feature{
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
}

.p-feature{
    font-size: 16px;
    line-height: 28px;
}


/*Duck container */

.duck-container{
    background: url(img/produck.png) no-repeat;
    border-radius: 4px;
}

.t-duck{
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.p-duck{
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

.btn-duck{
    margin:10px 0px;
    color: #2693FF !important;
    font-size: 16px;
    line-height: 24px;
}

.btn-sign{
    margin:10px 0px;
    color: black !important;
    font-size: 16px;
    line-height: 24px;
}

.btn-demo{
    color: #FFFFFF !important;
}



/*Footer */
.social a{
    padding: 0 1rem;
}

.f-social a{
    padding: 0 1rem;
}

.btn-footer{
    font-size: 13px;
    line-height: 24px;
}

.grey{
    color: #8E95A9;
}